In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import io
from lxml import etree
from dateutil.relativedelta import *

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

import pickle
from tqdm.notebook import tqdm
import re

ModuleNotFoundError: No module named 'numpy'

In [17]:
# Set display preference (Optional)
plt.rcParams["figure.figsize"] = (18,9)
plt.style.use('fivethirtyeight')
sns.set(style='white', context='notebook', palette='deep')

pd.options.display.max_rows = 20
pd.options.display.max_seq_items = 50
pd.set_option('display.max_colwidth', 200)

## Load FOMC Meeting

### Chairpersons

In [18]:
# FOMC Chairperson's list
chairpersons = pd.DataFrame(
    data=[["Volcker", "Paul", dt.datetime(1979,8,6), dt.datetime(1987,8,10)],
          ["Greenspan", "Alan", dt.datetime(1987,8,11), dt.datetime(2006,1,31)], 
          ["Bernanke", "Ben", dt.datetime(2006,2,1), dt.datetime(2014,1,31)], 
          ["Yellen", "Janet", dt.datetime(2014,2,3), dt.datetime(2018,2,3)],
          ["Powell", "Jerome", dt.datetime(2018,2,5), dt.datetime(2022,2,5)]],
    columns=["Surname", "FirstName", "FromDate", "ToDate"])
chairpersons

     Surname FirstName   FromDate     ToDate
0    Volcker      Paul 1979-08-06 1987-08-10
1  Greenspan      Alan 1987-08-11 2006-01-31
2   Bernanke       Ben 2006-02-01 2014-01-31
3     Yellen     Janet 2014-02-03 2018-02-03
4     Powell    Jerome 2018-02-05 2022-02-05

In [19]:
def get_chairperson(x):
    '''
    Return a tuple of chairperson's Fullname for the given date x.
    '''
    # If x is string, convert to datetime
    if type(x) is str:
        try:
            x = dt.datetime.strftime(x, '%Y-%m-%d')
        except:
            return None
    
    chairperson = chairpersons.loc[chairpersons['FromDate'] <= x].loc[x <= chairpersons['ToDate']]
    return list(chairperson.FirstName)[0] + " " + list(chairperson.Surname)[0]

In [20]:
file = open('../data/FOMC/fomc_calendar.pickle', 'rb')

fomc_calendar = pickle.load(file)
file.close()

print(fomc_calendar.shape)
fomc_calendar

(994, 4)

          date  unscheduled  forecast  confcall
0   1936-03-18        False     False     False
1   1936-03-19        False     False     False
2   1936-05-25        False     False     False
3   1936-11-19        False     False     False
4   1936-11-20        False     False     False
..         ...          ...       ...       ...
989 2024-06-12        False      True     False
990 2024-07-31        False     False     False
991 2024-09-18        False      True     False
992 2024-11-07        False     False     False
993 2024-12-18        False      True     False

[994 rows x 4 columns]

In [21]:
# Take data between 1982/09/27 and 2020/6/5 because we have the target rate in this range.
# fomc_calendar = fomc_calendar.loc[fomc_calendar['date'] >= dt.datetime(1982, 9, 27)].loc[fomc_calendar['date'] <= dt.datetime(2020, 6, 5)]
fomc_calendar = fomc_calendar.loc[fomc_calendar['date'] >= dt.datetime(1982, 9, 27)]

# Use date as index
fomc_calendar.set_index('date', inplace=True)
fomc_calendar.head()

            unscheduled  forecast  confcall
date
1982-10-05        False     False     False
1982-11-16        False     False     False
1982-12-21        False     False     False
1983-01-14        False     False      True
1983-01-21        False     False      True

### Add Chairperson to Calendar

In [22]:
fomc_calendar['ChairPerson'] = fomc_calendar.index.map(get_chairperson)
fomc_calendar

IndexError: list index out of range